{% extends "timesheet/base.html" %}

{% block content %}

    <h1> Employee Details: </h1>

    {% if employee %}
        <ul>
            Id: {{ employee.id }}
        </ul>
        <ul>
            Name: {{ employee.name }}
        </ul>
        <ul>
            Last Name: {{ employee.lastname }}
        </ul>
        <ul>
            Company Id: <a href="/timesheet/employers/{{ employee.employer_id }}/">{{ employee.employer_id }}</a>
        </ul>
    {% else %}
        <p>Employee not available.</p>
    {% endif %}

{% endblock %}